html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.page .header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-image: url(../img/hero-3.jpg);
}
.page .header .content-header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page .header .content-header .top-header .logo {
  display: flex;
  align-items: center;
}
.page .header .content-header .top-header .logo img {
  width: 50px;
  padding-top: 10px;
  height: 50px;
}
.page .header .content-header .top-header .logo .name-site {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  padding-left: 20px;
}
.page .header .content-header .top-header .menu a {
  color: #fff;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.7;
  padding: 0 10px;
}
.page .header .content-header .top-header .menu a:hover {
  opacity: 1;
}
.page .header .content-header .top-header .mobile-hamburger-menu {
  display: none;
}
.page .header .content-header .down-header {
  padding-top: 100px;
}
.page .header .content-header .down-header .description {
  display: flex;
  justify-content: space-between;
}
.page .header .content-header .down-header .description .text-info .title-description {
  color: #fff;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 30px;
}
.page .header .content-header .down-header .description .text-info .text-description {
  color: #fff;
  font-size: 18px;
  line-height: 170%;
}
.page .header .content-header .down-header .description .text-info .overlay-button-down-header {
  padding: 20px 0;
}
.page .header .content-header .down-header .description .text-info .overlay-button-down-header .btn-down-header {
  border: 0;
  outline: none;
  background: #40babd;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 35px;
  transition: all 0.3s ease;
}
.page .header .content-header .down-header .description .text-info .overlay-button-down-header .btn-down-header:hover {
  background: #337ab7;
}
.page .header .content-header .down-header .description .text-info .overlay-button-down-header .btn-down-header:active {
  transform: scale(0.95);
}
.page .header .content-header .down-header .description img {
  width: 500px;
  height: 400px;
}
.page .about {
  padding: 50px 0;
}
.page .about .description-about {
  text-align: center;
}
.page .about .description-about .title-description-about {
  color: #333;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}
.page .about .description-about .text-description-about {
  color: #000;
  line-height: 170%;
  font-size: 16px;
  opacity: 0.3;
}
.page .about .technology {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
.page .about .technology img {
  padding: 0 20px;
}
.page .about .cards {
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
}
.page .about .cards .card {
  width: 30%;
  text-align: center;
}
.page .about .cards .card .info-card .title-card {
  color: #40babd;
  padding: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.page .about .cards .card .info-card .text-card {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.3;
  line-height: 170%;
}
.page .testimonials {
  padding: 50px 0;
  overflow: auto;
  background: #40babd;
}
.page .testimonials .title-testimonials {
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.page .testimonials .chat .user {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.page .testimonials .chat .user img {
  padding-right: 20px;
}
.page .testimonials .chat .user:nth-child(2) {
  float: right;
}
.page .testimonials .chat .user:nth-child(2) img {
  padding-left: 20px;
}
.page .testimonials .chat .user:nth-child(4) {
  float: right;
}
.page .testimonials .chat .user:nth-child(4) img {
  padding-left: 20px;
}
.page .testimonials .chat .user .massege {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-left: none;
  margin-bottom: 0;
  font-size: 14px;
  min-height: 80px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
  padding: 30px;
}
.page .testimonials .chat .user .massege:nth-child(1):before {
  left: inherit;
  right: -10px;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  border-right: inherit;
}
.page .testimonials .chat .user .massege:before {
  position: absolute;
  left: -10px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.2);
}
.page .testimonials .chat .user .massege .text-massege {
  color: #fff;
  line-height: 170%;
  font-size: 16px;
  padding-bottom: 20px;
}
.page .features {
  padding: 50px 0;
}
.page .features .title-features {
  color: #333;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.page .features .text-features {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.page .features .main-content-features .tab-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.page .features .main-content-features .tab-container .tab-list {
  overflow: auto;
}
.page .features .main-content-features .tab-container .tab-list .tab {
  display: block;
  padding: 20px 0px;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}
.page .features .main-content-features .tab-container .tab-list .tab.active {
  color: #40babd;
}
.page .features .main-content-features .tab-container .tab-list .tab:hover {
  color: #40babd;
}
.page .features .main-content-features .tab-container .content-wrap {
  margin-top: 10px;
  position: relative;
}
.page .features .main-content-features .tab-container .content-wrap .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}
.page .features .main-content-features .tab-container .content-wrap .content.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.page .team {
  background: #f5f5f5;
  padding: 90px 0;
}
.page .team .text-info-team .title-team {
  color: #333;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.page .team .text-info-team .first-text-team {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.page .team .text-info-team .second-text-team {
  color: #000;
  opacity: 0.8;
  line-height: 170%;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.page .team .dev-people {
  display: flex;
  justify-content: space-around;
}
.page .team .dev-people .profile {
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
  background: #fff;
}
.page .team .dev-people .profile img {
  width: 50%;
}
.page .team .dev-people .profile .info-profile .name-profile {
  color: #40babd;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
  padding: 10px 0;
}
.page .team .dev-people .profile .info-profile .profession-profile {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 16px;
}
.page .team .dev-people .profile .info-profile .social-network {
  padding-bottom: 20px;
}
.page .team .dev-people .profile .info-profile .social-network span {
  font-size: 25px;
  cursor: pointer;
  padding: 0 10px;
}
.page .team .dev-people .profile .info-profile .social-network .twitter {
  border-radius: 100%;
  color: #55acee;
}
.page .team .dev-people .profile .info-profile .social-network .facebook {
  color: #344e86;
}
.page .team .dev-people .profile .info-profile .social-network .dribble {
  color: #EC4D8B;
}
.page .team .dev-people .profile .info-profile .social-network .linkedin {
  color: #1a62a4;
}
.page .team .dev-people .profile .info-profile .social-network .globe {
  color: #40babd;
}
.page .team .dev-people .profile .info-profile .description-profile {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 170%;
}
.page .pricing {
  padding: 90px 0;
}
.page .pricing .text-info-pricing .title-pricing {
  color: #333;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
}
.page .pricing .text-info-pricing .text-pricing {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
}
.page .pricing .price-list {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}
.page .pricing .price-list .plan {
  padding: 20px;
  border-radius: 20px;
  width: 25%;
  text-align: center;
  background: #75c181;
}
.page .pricing .price-list .plan:nth-child(2) {
  background: #58bbee;
}
.page .pricing .price-list .plan:nth-child(2) .overlay-btn-pricing .btn-pricing {
  background: #418eb4;
}
.page .pricing .price-list .plan:last-child {
  background: #F8A13F;
}
.page .pricing .price-list .plan:last-child .overlay-btn-pricing .btn-pricing {
  background: #c47f31;
}
.page .pricing .price-list .plan .text-info-plan .title-plan {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.page .pricing .price-list .plan .text-info-plan .price {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
}
.page .pricing .price-list .plan .text-info-plan .description-plan {
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
}
.page .pricing .price-list .plan .more-info {
  color: #000;
  opacity: 0.5;
  font-weight: 300;
  padding-bottom: 20px;
}
.page .pricing .price-list .plan .overlay-btn-pricing {
  padding-top: 50px;
}
.page .pricing .price-list .plan .overlay-btn-pricing .btn-pricing {
  cursor: pointer;
  border: 0;
  outline: none;
  background: #72b17b;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 35px;
  transition: all 0.3s ease;
}
.page .pricing .price-list .plan .overlay-btn-pricing .btn-pricing:active {
  transform: scale(0.95);
}
.page .contact {
  padding: 90px 0;
  background: #494d55;
  text-align: center;
}
.page .contact .title-contact {
  color: #fff;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
.page .contact .text-contact {
  color: #fff;
  line-height: 170%;
  font-size: 15px;
}
.page .contact .overlay-btn-contact {
  padding-top: 50px;
}
.page .contact .overlay-btn-contact .btn-contact {
  border: 0;
  outline: none;
  background: #40babd;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 35px;
  transition: all 0.3s ease;
}
.page .contact .overlay-btn-contact .btn-contact:hover {
  background: #337ab7;
}
.page .contact .overlay-btn-contact .btn-contact:active {
  transform: scale(0.95);
}
.page .footer {
  background: #26282c;
  padding: 15px 0;
  text-align: center;
}
.page .footer .first-part-text-footer {
  color: #fff;
  font-size: 15px;
}
.page .footer .second-part-text-footer {
  color: #40babd;
  padding: 0 2px;
  text-decoration: underline;
}
.page .footer .three-part-text-footer {
  color: #fff;
}
